h1 {
    background-image: url('https://photophores.files.wordpress.com/2012/11/copie-de-vignettage.jpg');
    color:teal;
    font-family: Courier New, Courier, monospace;
    font-size: 100px;
    border: 5px solid white;
    margin-right: 300px;
    margin-left: 300px;
}

.Top {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNj2OtL8UvhPVJrnEEZUw_8nxoFUl3DSsL2jgEJvUwIzZCTQg6');
    background-size: unset;
    border: 10px solid white;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    text-align: center;
    font-size: 20px;    
}


p {
    font-family: Courier New, Courier, monospace;
    font-size: 15px;
    border: 5px solid white;
    background-image: url('https://photophores.files.wordpress.com/2012/11/copie-de-vignettage.jpg');
    margin-right: 225px;
    margin-left: 225px;
    text-align: center;
}

.Background {
    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/0d/3f/db/0d3fdb5b332dc95be78f3077a19eba2d--rocks-and-minerals-crystals-minerals.jpg');
   background-size: unset;
}

.selection {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNj2OtL8UvhPVJrnEEZUw_8nxoFUl3DSsL2jgEJvUwIzZCTQg6');
    background-size: unset;
    border: 10px solid white;
    padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 200px;
        margin-top: 100px;
}
    
.link {
    background-image: url('https://photophores.files.wordpress.com/2012/11/copie-de-vignettage.jpg');
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    float: left;
    border: 2px solid darkcyan;
}

.thumbnail {
    border: 5px double purple;
}

.footer {

}